<!--{if $action == 'index' || $action == 'list' || $action == 'memberlist'}-->

<div class="ball_right index_r">
	<div class="bg_publish"><div class="ball_publish"><a id="btn_newpost_group" href="forum.php?mod=post&action=newthread&fid={$_G[fid]}"><i></i>发表帖子</a></div></div>
	<div class="chComd clearfix">
            
		<div class="chHeader"><h1 class="fl bt chComd_title">公告</h1></div>
              
		<div class="chBlock fl clearfix">
			<ul class="chAnnouce">
                                                                            <!--{if $gg}-->
                                                                                     <!--{loop $gg $val}-->
				<li><a href="forum.php?mod=viewthread&tid={$val['tid']}" target="_blank">{$val['subject']}</a></li>
                                                                                      <!--{/loop}-->
                                                                          <!--{else}-->                
                                                                                        <li><a href="#" target="_blank">暂时没有公告</a></li>
                                                                           <!--{/if}-->
			</ul>
		</div>
                

	</div>
	<!--会长-->
	<!--{hook/group_info_manage}-->
	<div class="blank15"></div>
	<div class="ad_boxs">
	<!-- 108813：首页-频道-列表-内容-右侧button1 类型：固定广告位 尺寸：300x0-->
                        <script type="text/javascript">
_acK({aid:108813,format:0,mode:1,gid:1,serverbaseurl:"afp.csbew.com/"});
</script>
	</div>
	<!--{hook/forumdisplay_info_manage}-->	
	<!--热门活动-->
	<!--{template extend/desktop/sub_activity}-->
                        <!--球迷会二维码-->
                        <!--{template extend/desktop/sub_qrcode}-->
	<div class="blank15"></div>
	<div class="ad_boxs">
	<!-- 108813：首页-频道-列表-内容-右侧button1 类型：固定广告位 尺寸：300x0-->
                        <!-- 108815：首页-频道-列表-内容-右侧button2 类型：固定广告位 尺寸：300x0-->
                        <script type="text/javascript">
_acK({aid:108815,format:0,mode:1,gid:1,serverbaseurl:"afp.csbew.com/"});
</script>
	</div>
</div>
<!--{/if}-->
<!--{if CURMODULE == 'group'}--><!--{hook/group_side_top}--><!--{else}--><!--{hook/forumdisplay_side_top}--><!--{/if}-->