<link rel="stylesheet" type="text/css" href="../common/main.css"/>

<div class="container-fans">
    <div class="fanscard">
        <div class="left">
            <img src="#" alt=""/>
        </div>
        <div class="right">
            <p class="name">花与爱丽丝</p>
            <span>关注：1</span>&nbsp;&nbsp;&nbsp;&nbsp;<span> 粉丝：7</span>
            <p class="info">简介：足球迷，爱旅游森女一枚，亚哈啦爱旅游森女一枚，亚哈啦...</p>
            <a class="attention each" href="javascript:;">相互关注</a>
        </div>
    </div>    
</div>