<!--{if CURMODULE != 'logging'}-->
	<script type="text/javascript" src="{$_G[setting][jspath]}logging.js?{VERHASH}"></script>
	
	<form class="chformlogin" method="post" autocomplete="off" id="lsform" action="member.php?mod=logging&action=login&loginsubmit=yes&infloat=yes&lssubmit=yes" onsubmit="{if $_G['setting']['pwdsafety']}pwmd5('ls_password');{/if}return lsSubmit();">
	    <div class="chlogin">
			<button id='btn_login_simple' type="submit" class="" tabindex="904">{lang login}</button><a id="btn_register_simple" href="member.php?mod={$_G[setting][regname]}">注册</a>
	</div>
	<div class="fastlg cl">
		<span id="return_ls" style="display:none"></span>
		<div class="y pns" style="display:none;">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<!--{if !$_G['setting']['autoidselect']}-->
						<td>
							<span class="ftid">
								<select name="fastloginfield" id="ls_fastloginfield" width="40" tabindex="900">
									<option value="username">{lang username}</option>
									<!--{if getglobal('setting/uidlogin')}-->
									<option value="uid">{lang uid}</option>
									<!--{/if}-->
									<option value="email">{lang email}</option>
								</select>
							</span>
							<script type="text/javascript">simulateSelect('ls_fastloginfield')</script>
						</td>
						<td><input type="text" name="username" id="ls_username" autocomplete="off" class="px vm" tabindex="901" /></td>
					<!--{else}-->
						<td><label for="ls_username">{lang account}</label></td>
						<td><input type="text" name="username" id="ls_username" class="px vm xg1" {if $_G['setting']['autoidselect']} value="{if getglobal('setting/uidlogin')}UID/{/if}{lang username}/Email" onfocus="if(this.value == '{if getglobal('setting/uidlogin')}UID/{/if}{lang username}/Email'){this.value = '';this.className = 'px vm';}" onblur="if(this.value == ''){this.value = '{if getglobal('setting/uidlogin')}UID/{/if}{lang username}/Email';this.className = 'px vm xg1';}"{/if} tabindex="901" /></td>
					<!--{/if}-->
				</tr>
				
			</table>
			<input type="hidden" name="quickforward" value="yes" />
			<input type="hidden" name="handlekey" value="ls" />
		</div>
		<!--hook/global_login_extra-->
	</div>
	</form>

	<!--{if $_G['setting']['pwdsafety']}-->
		<script type="text/javascript" src="{$_G['setting']['jspath']}md5.js?{VERHASH}" reload="1"></script>
	<!--{/if}-->

<!--{/if}-->
<!--{eval $_referer = urlencode($_G['siteurl'].substr($_SERVER['REQUEST_URI'], 1));}-->
<!--<div class="chsimp">-->
     <!--<span>关联账号登录：</span>-->
	 <!--<a href="plugin.php?id=mpage_weibo:login" class="ch_webo"></a>-->
	 <!--<a href="connect.php?mod=login&op=init&referer={$_referer}&statfrom=login" class="ch_QQ"></a>-->
<!--</div>-->
