<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>channel_theme</title>
	<link href="../../common/main.css" rel="stylesheet" />
</head>
<body>
    <div class="wp ball_main" id="wp">
		<div class="ball_left mt20">
	    	<div class="indexThread">
	            <ul>
	                <li class="cl">
	                <div class="avatar">
	                    <a href="" target="_blank"><img src="$_G['config'][static]/images/avatar_middle.jpg"></a>
	                </div>
	                <div class="inde_info">
	                    <p class="in_name"><a href="" target="_blank">厄齐尔:誓帮阿森纳超巴萨夺欧冠 最想抽皇马碰C罗</a></p>
	                    <p class="in_title">
	                    在自由市场优秀球员纷纷落户的情况下，加上之前又被小乔丹给“忽悠了”，这时候的达拉斯小牛终于“梦醒”，没有了小乔丹，又放走了泰森-钱德勒。
	                    </p>
	                    <p class="in_img">
	                    <a href="" target="_blank"><img src="$_G['config'][static]/images/img.jpg" width="auto" height="140"></a>
	                    <a href="" target="_blank"><img src="$_G['config'][static]/images/img.jpg" width="auto" height="140"></a>
	                    <a href="" target="_blank"><img src="$_G['config'][static]/images/img.jpg" width="auto" height="140"></a>
	                    </p>
	                    <div class="in_meta">
	                        <span><a href="" target="_blank">小珊子</a>&nbsp;&nbsp;7月21日09:00 &nbsp;&nbsp;&nbsp;来自<a href="" target="_blank">曼联频道</a></span>
	                        <span class="y sta_lun">55</span>
	                        <span class="y sta_zan">0</span>
	                    </div>
	                </div>
	                </li>
	            </ul>
            </div>
        </div>
        <div class="ball_right fr clearfix">
            <div class="chComd clearfix">
                <div class="chAdv">
                    <img src="../../common/images/avatar_middle.jpg" width="320" height="168">
                </div>
            </div>
            <div class="chComd clearfix">
                <div class="chHeader">
                    <h1 class="fl bt chComd_title">推荐球迷会</h1>
                    <a href="javascript:" class="fr chComd_more clearfix">更多</a>
                </div>
                <div class="chBlock fl">
                    <div class="chBlockfl chH200 fl">
                        <a href="javascript:"><img src="../../common/images/fanscomd_hm.png"></a>
                        <p>广州切尔西球迷会</p>
                        <p><h4>人数：200</h4></p>
                    </div>
                    <div class="chBlockfl chH200 fl">
                        <a href="javascript:"><img src="../../common/images/fanscomd_qex.png"></a>
                        <p>黑龙江切尔西球迷会</p>
                        <p><h4>人数：200</h4></p>
                    </div>
                    <div class="chBlockfl chH200 fl">
                        <a href="javascript:"><img src="../../common/images/fanscomd_hm.png"></a>
                        <p>广州切尔西球迷会</p>
                        <p><h4>人数：200</h4></p>
                    </div>
                    <div class="chBlockfl chH200 fl">
                        <a href="javascript:"><img src="../../common/images/fanscomd_qex.png"></a>
                        <p>黑龙江切尔西球迷会</p>
                        <p><h4>人数：200</h4></p>
                    </div>
                </div>
            </div>
            <!--{template extend/desktop/sub_activity}-->

            <div class="chComd clearfix">
                <div class="chHeader">
                    <h1 class="fl bt chComd_title">积分榜</h1>
                    <a href="javascript:" class="fr chComd_more clearfix">更多</a>
                </div>
                <div class="chBlock chScore fl clearfix">
                        <ul class="s_ulHeader">
                            <li>排名</li>
                            <li>球队</li>
                            <li>胜平负</li>
                            <li>积分</li>
                        </ul>
                        <ul class="s_ulBody">
                            <li class="ch_no1"></li>
                            <li>切尔西</li>
                            <li>25/9/3</li>
                            <li>84</li>
                        </ul>
                        <ul class="s_ulBody">
                            <li class="ch_no2"></li>
                            <li>切尔西</li>
                            <li>25/9/3</li>
                            <li>84</li>
                        </ul>
                        <ul class="s_ulBody">
                            <li class="ch_no3"></li>
                            <li>切尔西</li>
                            <li>25/9/3</li>
                            <li>84</li>
                        </ul>
                        <ul class="s_ulBody">
                            <li class="ch_no4"></li>
                            <li>切尔西</li>
                            <li>25/9/3</li>
                            <li>84</li>
                        </ul>
                        <ul class="s_ulBody">
                            <li class="ch_no5"></li>
                            <li>切尔西</li>
                            <li>25/9/3</li>
                            <li>84</li>
                        </ul>
                        <ul class="s_ulBody">
                            <li class="ch_no6"></li>
                            <li>切尔西</li>
                            <li>25/9/3</li>
                            <li>84</li>
                        </ul>
                        <ul class="s_ulBody">
                            <li class="ch_no7"></li>
                            <li>切尔西</li>
                            <li>25/9/3</li>
                            <li>84</li>
                        </ul>
                        <ul class="s_ulBody">
                            <li class="ch_no8"></li>
                            <li>切尔西</li>
                            <li>25/9/3</li>
                            <li>84</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
	
</body>
</html>