<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>channel_fans</title>
	<link rel="stylesheet" type="text/css" href="../common/main.css">
</head>
<body>
	<div class="wp ball_wrap" id="wp">
		<div class="clearfix">
			<div class="ball_club wp">
				<h1 class="bt fl clearfix">相关球迷会</h1>
				<span class="fr clearfix">申请建立</span>
			</div>
		</div>
		<div class="channel_cont clearfix">
			<div class="chUnits fl clearfix">
				<img src="../common/images/fanscomd_qex.png" width="110" height="110">
				<p>切尔西</p>
				<span>总贴:200</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>新贴:100</span>
				<h4>简介：巴塞罗那足球俱乐部 (Futbol Club Bar...巴塞罗那足球俱乐部 (Futbol Club Bar...</h4>
			</div>
			<div class="chUnits fl clearfix">
				<img src="../common/images/fanscomd_qex.png" width="110" height="110">
				<p>切尔西</p>
				<span>总贴:200</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>新贴:100</span>
				<h4>简介：巴塞罗那足球俱乐部 (Futbol Club Bar...巴塞罗那足球俱乐部 (Futbol Club Bar...</h4>
			</div>
			<div class="chUnits fl clearfix">
				<img src="../common/images/fanscomd_qex.png" width="110" height="110">
				<p>切尔西</p>
				<span>总贴:200</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>新贴:100</span>
				<h4>简介：巴塞罗那足球俱乐部 (Futbol Club Bar...巴塞罗那足球俱乐部 (Futbol Club Bar...</h4>
			</div>
			<div class="chUnits fl clearfix">
				<img src="../common/images/fanscomd_qex.png" width="110" height="110">
				<p>切尔西</p>
				<span>总贴:200</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>新贴:100</span>
				<h4>简介：巴塞罗那足球俱乐部 (Futbol Club Bar...巴塞罗那足球俱乐部 (Futbol Club Bar...</h4>
			</div>
			<div class="chUnits fl clearfix">
				<img src="../common/images/fanscomd_qex.png" width="110" height="110">
				<p>切尔西</p>
				<span>总贴:200</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>新贴:100</span>
				<h4>简介：巴塞罗那足球俱乐部 (Futbol Club Bar...巴塞罗那足球俱乐部 (Futbol Club Bar...</h4>
			</div>
			<div class="chUnits fl clearfix">
				<img src="../common/images/fanscomd_qex.png" width="110" height="110">
				<p>切尔西</p>
				<span>总贴:200</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>新贴:100</span>
				<h4>简介：巴塞罗那足球俱乐部 (Futbol Club Bar...巴塞罗那足球俱乐部 (Futbol Club Bar...</h4>
			</div>
			<div class="chUnits fl clearfix">
				<img src="../common/images/fanscomd_qex.png" width="110" height="110">
				<p>切尔西</p>
				<span>总贴:200</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>新贴:100</span>
				<h4>简介：巴塞罗那足球俱乐部 (Futbol Club Bar...巴塞罗那足球俱乐部 (Futbol Club Bar...</h4>
			</div>
			<div class="chUnits fl clearfix">
				<img src="../common/images/fanscomd_qex.png" width="110" height="110">
				<p>切尔西</p>
				<span>总贴:200</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>新贴:100</span>
				<h4>简介：巴塞罗那足球俱乐部 (Futbol Club Bar...巴塞罗那足球俱乐部 (Futbol Club Bar...</h4>
			</div>
			<div class="chUnits fl clearfix">
				<img src="../common/images/fanscomd_qex.png" width="110" height="110">
				<p>切尔西</p>
				<span>总贴:200</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>新贴:100</span>
				<h4>简介：巴塞罗那足球俱乐部 (Futbol Club Bar...巴塞罗那足球俱乐部 (Futbol Club Bar...</h4>
			</div>
		</div>
</body>
</html>