<!--{if $debate[umpire]}-->
	<!--{if $debate['umpirepoint']}-->
	<div id="umpirepoint">
		<p class="dbresult">
			<!--{if $debate[winner]}-->
			<!--{if $debate[winner] == 1}-->
			<label class="winner_1"><strong>{lang debate_square}</strong>{lang debate_winner}</label>
			<!--{elseif $debate[winner] == 2}-->
			<label class="winner_2"><strong>{lang debate_opponent}</strong>{lang debate_winner}</label>
			<!--{else}-->
			<label class="winner_0"><strong>{lang debate_draw}</strong></label>
			<!--{/if}-->
			<!--{/if}-->
			<em>{lang debate_comment_dateline}: $debate[endtime]</em>
		</p>
		<!--{if $debate[umpirepoint]}--><p class="umpirepoint"><strong>{lang debate_umpirepoint}</strong>: $debate[umpirepoint]</p><!--{/if}-->
		<!--{if $debate[bestdebater]}--><p class="bestdebater"><strong>{lang debate_bestdebater}</strong>: $debate[bestdebater]</p><!--{/if}-->
	</div>
	<!--{/if}-->
<!--{/if}-->
<table cellspacing="0" cellpadding="0"><tr><td class="t_f" id="postmessage_$post[pid]">$post[message]</td></tr></table>
<div class="debate_hd">投票支持
<!--{if $debate[endtime]}-->
	<p class="hd_times">{lang endtime}: $debate[endtime] <!--{if $debate[umpire]}-->{lang debate_umpire}: $debate[umpire]<!--{/if}--></p>
<!--{/if}-->
</div>
<!--{if $debate[umpire] && $_G['username'] && $debate[umpire] == $_G['member']['username']}-->
	<p class="dtm pns">
	<!--{if $debate[remaintime] && !$debate[umpirepoint]}-->
	 <button type="button" class="pn" onclick="showWindow('debate', 'forum.php?mod=misc&action=debateumpire&tid=$_G[tid]&pid=$post[pid]{if $_GET[from]}&from=$_GET[from]{/if}')"><span>{lang debate_umpire_end}</span></button>
	<!--{elseif TIMESTAMP - $debate['dbendtime'] < 3600}-->
	 <button type="button" class="pn" onclick="showWindow('debate', 'forum.php?mod=misc&action=debateumpire&tid=$_G[tid]&pid=$post[pid]{if $_GET[from]}&from=$_GET[from]{/if}')"><span>{lang debate_umpirepoint_edit}</span></button>
	<!--{/if}-->
	</p>
<!--{/if}-->

<div class="debate_tabcom">
	<table summary="{lang debate_all_point}" cellspacing="0" cellpadding="0" width="100%">
	       <tr>
	           <td class="debate_wr" width="44%">
	           	   <div class="point_chart">
					    <div class="zchart" style="width: {echo $debate[affirmvoteswidth]}%;" title="{lang debate_square} ($debate[affirmvotes])"></div>
				   </div>
				   <div class="zpoint">
					    <strong>{lang debate_square_point} </strong>
					    <p>$debate[affirmpoint]</p>
				   </div>
				   <!--{if !$_G['forum_thread']['is_archived']}-->
				   <div class="zsupport">
				        <button href="forum.php?mod=misc&action=debatevote&tid=$_G[tid]&stand=1" id="affirmbutton" onclick="{if $_G['uid']}ajaxmenu(this);{else}showWindow('login', 'member.php?mod=logging&action=login&guestmessage=yes');{/if}doane(event);" {if $post['invisible'] < 0} disabled{/if}><span>{lang debate_support}</span></button>
				   </div>
				   <!--{/if}-->
				   <div class="znum">
				        支持人数：<em>$debate[affirmvotes]</em>
				   </div>
				   <!--{if !$_G['forum_thread']['is_archived']}-->
				   <ul class="zpeople cl">
					<!--{loop $debate[affirmavatars] $user}-->
					<li>
						<a title="$user[author]" target="_blank" href="home.php?mod=space&uid=$user[authorid]" class="avt">$user[avatar]</a>
						<p><a href="home.php?mod=space&uid=$user[authorid]">$user[author]</a></p>
					</li>
					<!--{/if}-->
				   </ul>
				   <!--{/if}-->
	           </td>
	           <td width="12%" align="center">
	           	   <span class="vs_zfcom">VS</span>
	           </td>
	           <td class="debate_wr" width="44%">
	           	   <div class="point_chart">
					    <div class="fchart" style="width: {echo $debate[negavoteswidth]}%;" title="{lang debate_opponent} ($debate[negavotes])"></div>
				   </div>
				   <div class="fpoint">
					    <strong>{lang debate_opponent_point}</strong>
					    <p>$debate[negapoint]</p>
				   </div>
				   <!--{if !$_G['forum_thread']['is_archived']}-->
				   <div class="fsupport">
				        <button href="forum.php?mod=misc&action=debatevote&tid=$_G[tid]&stand=2" id="negabutton" onclick="{if $_G['uid']}ajaxmenu(this);{else}showWindow('login', 'member.php?mod=logging&action=login&guestmessage=yes');{/if}doane(event);" {if $post['invisible'] < 0} disabled{/if}><span>{lang debate_support}</span></button>
				   </div>
				   <!--{/if}-->
				   <div class="znum">
				        支持人数：<em>$debate[negavotes]</em>
				   </div>
				   <!--{if !$_G['forum_thread']['is_archived']}-->
				   <ul class="zpeople cl">
					<!--{loop $debate[negaavatars] $user}-->
					<li>
						<a title="$user[author]" target="_blank" href="home.php?mod=space&uid=$user[authorid]" class="avt">$user[avatar]</a>
						<p><a href="home.php?mod=space&uid=$user[authorid]">$user[author]</a></p>
					</li>
					<!--{/if}-->
				    </ul>  
				    <!--{/if}-->
	           </td>
	       </tr>
	</table>
</div>
