<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>live_shooter</title>
	<link rel="stylesheet" href="../common/main.css">
</head>
<body>

	<div class="shooter_right">
		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr class="a1">
					<td>排名</td>
					<td class="contu2">球员</td>
					<td class="contu2">球队</td>
					<td class="contu2">进球(点球)</td>
					<td class="contu2">主场进球</td>
					<td class="contu2">客场进球</td>
                                        <td class="contu2">国家</td>
				</tr>
                                <!--{loop $arr_game['shooter']['data'] $key $value}-->
                                    <tr class="a2">
                                            <td>{$value['ranking']}</td>
                                            <td class="oCol"><!--{if $value['newplayer'] != ''}-->{$value['newplayer']}<!--{else}-->{$value['player']}<!--{/if}--></td>
                                            <td class="oCol"><a href="javascript:">{$value['team']}</a><!--<img src="../common/images/live_pic.jpg" alt="" width="20" height="20">--></td>
                                            <td>{$value['total']}<!--{if $value['penalty'] != 0}-->({$value['penalty']})<!--{/if}--></td>
                                            <td>{$value['home']}</td>
                                            <td>{$value['guest']}</td>
                                            <td>{$value['country']}</td>
                                    </tr>
                                <!--{/loop}-->
                                <!--
				<tr class="a2">
					<td>2</td>
					<td class="oCol">阿洛伊西奥</td>
					<td class="oCol"><a href="javascript:">曼联</a><img src="../common/images/live_pic.jpg" alt="" width="20" height="20"></td>
					<td>5</td>
					<td>7</td>
					<td>9</td>
					<td>3</td>
				</tr>
				<tr class="a2">
					<td>3</td>
					<td class="oCol">阿洛伊西奥</td>
					<td class="oCol"><a href="javascript:">曼联</a><img src="../common/images/live_pic.jpg" alt="" width="20" height="20"></td>
					<td>5</td>
					<td>7</td>
					<td>9</td>
					<td>3</td>
				</tr>
				<tr class="a2">
					<td>4</td>
					<td class="oCol">阿洛伊西奥</td>
					<td class="oCol"><a href="javascript:">曼联</a><img src="../common/images/live_pic.jpg" alt="" width="20" height="20"></td>
					<td>5</td>
					<td>7</td>
					<td>9</td>
					<td>3</td>
				</tr>
				<tr class="a2">
					<td>5</td>
					<td class="oCol">阿洛伊西奥</td>
					<td class="oCol"><a href="javascript:">曼联</a><img src="../common/images/live_pic.jpg" alt="" width="20" height="20"></td>
					<td>5</td>
					<td>7</td>
					<td>9</td>
					<td>3</td>
				</tr>
                                -->
			</tbody>
		</table>
	</div>
</body>
</html>