<link rel="stylesheet" href="../common/main.css">
<div class="container live-jifen" style="width: auto;">
    <div class="title-block">
        <ul class="list">
            <li><a href="javascript:;">趣图</a></li>
            <li><a href="javascript:;">花花视界</a></li>
            <li><a href="javascript:;">精品文章</a></li>
        </ul>
    </div>
    <div class="live clearfix">
        <div class="col-left">
            <div class="types_ch">
                <ul>
                    <li class="type hot"><a href="live" class="ico ico-hot">热门</a></li>
                    <li class="type "><a href="live/1" class="ico ico-yc">英超</a></li>
                    <li class="type "><a href="live/15" class="ico ico-xj">西甲</a></li>
                    <li class="type "><a href="live/13" class="ico ico-zc">中超</a></li>
                    <li class="type "><a href="live/41" class="ico ico-yg">亚冠</a></li>
                    <li class="type "><a href="live/21" class="ico ico-yj">意甲</a></li>
                    <li class="type "><a href="live/2" class="ico ico-dj">德甲</a></li>
                    <li class="type "><a href="live/3" class="ico ico-fj">法甲</a></li>
                    <li class="type "><a href="live/7" class="ico ico-nba">NBA</a></li>
                    <li class="type "><a href="live/8" class="ico ico-cba">CBA</a></li>
                    <li class="type "><a href="live/100" class="ico ico-misc">其它</a></li>
                </ul>

            </div>
        </div>
        <div class="col-right">
            <table class="table-jifen" cellspacing="0">
                <tbody>
                <tr class="tr-header">
                    <td>A组</td>
                    <td>球队</td>
                    <td>场次</td>
                    <td>胜</td>
                    <td>平</td>
                    <td>负</td>
                    <td>进球</td>
                    <td>失球</td>
                    <td>净胜球</td>
                    <td>积分</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr class="tr-header">
                    <td>A组</td>
                    <td>球队</td>
                    <td>场次</td>
                    <td>胜</td>
                    <td>平</td>
                    <td>负</td>
                    <td>进球</td>
                    <td>失球</td>
                    <td>净胜球</td>
                    <td>积分</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr class="tr-header">
                    <td>A组</td>
                    <td>球队</td>
                    <td>场次</td>
                    <td>胜</td>
                    <td>平</td>
                    <td>负</td>
                    <td>进球</td>
                    <td>失球</td>
                    <td>净胜球</td>
                    <td>积分</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img class="tlogo" src="#" alt="" width="20" height="20"><span class="vm">马德里竞技</span></td>
                    <td>6</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

