<link rel="stylesheet" href="../common/main.css">
<div class="container live-jifen" style="width: auto;">

        <div class="col-right">
            <table class="table-jifen" cellspacing="0">
                <tbody>
                <tr class="tr-header">
                    <td>排名</td>
                    <td>球队</td>
                    <td>场次</td>
                    <td>积分</td>
                    <td>胜</td>
                    <td>平</td>
                    <td>负</td>
                    <td>进球</td>
                    <td>失球</td>
                    <td>净胜球</td>
                    <!--<td>近10场胜平负</td>-->
                </tr>
                <!--{loop $arr_game['leaguescore']['data'] $key $value}-->
                <tr>
                    <td><span class="rank">{$value['ranking']}</span></td>
                    <td><span class="vm">{$value['team_name']}</span></td>
                    <td>{$value['total']}</td>
                    <td>{$value['score']}</td>
                    <td>{$value['win']}</td>
                    <td>{$value['draw']}</td>
                    <td>{$value['fail']}</td>
                    <td>{$value['get']}</td>
                    <td>{$value['lose']}</td>
                    <td>{$value['netbar']}</td>
                </tr>
                <!--{/loop}-->
      
                </tbody>
            </table>
            <p class="jifen-desc">
                <span class="orange">说明：</span>比赛积分计算方法为胜者积3分、负者积0分、平局双方各积1分，赛季末按累积积分高低排名。积分相同的球队由相互胜负关系、净胜球、进球数进行排名。
            </p>
        </div>
        
</div>

