<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<div class="blank10"></div>
<div class="ad_banner" id="inxch1">
     <!-- 108821：首页-顶部通栏 类型：固定广告位 尺寸：1000x0-->
</div>
<div class="site_mian">
     <div class="slide_wrap cl">
          <!--大轮播 start-->
          <!--{hook/index_focus}-->
          <!--大轮播 end-->
          <!--官方发布 start-->
          <!--{hook/index_official}-->
          <!--官方发布 end-->
     </div>
     <!--热门活动 start-->
     <!--{hook/index_hot_activity}-->     
     <!--热门活动 end-->
     <div class="ad_banner" id="inxch5">
          <!-- 111247：首页-中部通栏 类型：固定广告位 尺寸：1000x0-->
     </div>
     <!--共部分 start-->
     <div class="indexCon cl" style="margin-top: 10px;">
          <!--热门话题start-->
          <!--{hook/index_hot_thread}-->
          <!--热门话题end-->
          <div class="modech_right">
               <!--神回复 start-->
               <!--{hook/index_godreply}-->
               <!--神回复 end-->
               <div class="ad_boxs" id="inxch3">
                    <!-- 108823：首页-右侧button1 类型：固定广告位 尺寸：300x0-->
               </div>
               <div class="blank15"></div>
               <!--精彩视频 start-->
                        <!--[diy=diy_video]--><div id="diy_video" class="area"></div><!--[/diy]-->
               <!--精彩视频 end-->
               <!--优秀会长 start-->
               <div class="modul_con">
                    <div class="in_hdbox">
                         <span class="hdspan">优秀会长</span>
                    </div>
                    <div class="modul_con ch_sident">
                   <!--{loop $data['chairman'] $val}-->
                    <div class="chBoard">
                         <div class="board_c">
                              <div class="board_l fl clearfix"><a href="home.php?mod=space&uid={$val['uid']}" target="_blank"><img src="static/image/face.jpg" data-original= "$val['avatar']" width="50" height="50"></a></div>
                              <div class="board_r fl clearfix">
                                   <div class="r_up">
                                        <span>{$val['username']}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="fans/topic/{$val['fid']}/" target="_blank">[{$val['name']}]</a></span>
                                   </div>
                                   <div class="r_down"><span>简介：<!--{if $val['bio']}-->{$val['bio']}<!--{else}-->这家伙什么都没有留下<!--{/if}--></span></div>
                              </div>
                         </div>
                    </div>
                   <!--{/loop}-->
                    
               </div>
               </div>
               
               <!--优秀会长 end-->
               <div class="ad_boxs" id="inxch4">
                    <!-- 108825：首页-右侧button2 类型：固定广告位 尺寸：300x0-->
               </div>
               <div class="blank15"></div>
               <!--活跃粉丝 start-->
               <!--{hook/index_active_fans}-->               
               <!--活跃粉丝 end-->
               <!--专题 start-->
               <!--[diy=special]--><div id="special" class="area"></div><!--[/diy]-->               
               <!--专题 end-->
          </div>
     </div>
     <!--共部分 end-->
</div>
<div class="blank15"></div>
<div class="ad_banner" id="inxch2">
     <!-- 108827：首页-底部通栏 类型：固定广告位 尺寸：1000x0-->

</div>
<div class="parter_bg">
     <!--合作伙伴 start-->
      <div class="parter_nav">
           <div class="parter_Tag">
                 <span class="active">合作伙伴</span>
                  <span class="">友情链接</span>
            </div>
            <div class="parter_link clearfix">
            <ul style="display: block;">
            <!--[diy=diylink1]--><div id="diylink1" class="area"></div><!--[/diy]-->
            </ul>
            <ul style="display: none;">
            <!--[diy=diylink3]--><div id="diylink3" class="area"></div><!--[/diy]-->
            </ul>          
            </div>
      </div>
      <!--合作伙伴 end-->
      <div class="parter_nav">
           <div class="coor_nav">
                 <span class="active">媒体分站</span>
                  <span class="">媒体合作</span>
            </div>
            <div class="coor_ul clearfix">
            <ul style="display: block;">
            <!--[diy=diylink2]--><div id="diylink2" class="area"></div><!--[/diy]-->
            </ul>
            <ul style="display: none;">
            <!--[diy=diylink4]--><div id="diylink4" class="area"></div><!--[/diy]-->
            </ul>          
            </div>
      </div>
      
</div>
<script type="text/javascript">
_acK({aid:108821,format:0,mode:1,gid:1,destid:"inxch1",serverbaseurl:"afp.csbew.com/"});
</script>
<script type="text/javascript">
_acK({aid:108827,format:0,mode:1,gid:1,destid:"inxch2",serverbaseurl:"afp.csbew.com/"});
</script>
<script type="text/javascript">
_acK({aid:108823,format:0,mode:1,gid:1,destid:"inxch3",serverbaseurl:"afp.csbew.com/"});
</script>
<script type="text/javascript">
_acK({aid:108825,format:0,mode:1,gid:1,destid:"inxch4",serverbaseurl:"afp.csbew.com/"});
</script>
<script type="text/javascript">
_acK({aid:111247,format:0,mode:1,gid:1,destid:"inxch5",serverbaseurl:"afp.csbew.com/"});
</script>
<!--{template common/footer}-->
