<!--{template common/header_special}-->
<!-- AFP两段式代码-公用代码 -->
<script type="text/javascript" src="http://s.csbew.com/k.js"></script>
<link type="text/css" href="$_G['config'][static]/topic/css_tlzgx.css" rel="stylesheet" />
<div class="ban_body">
     <div class="ban_content">
     <table border="0" cellpadding="0" cellspacing="0" width="100%">
	        <tr><td><img src="$_G['config'][static]/topic/2015tlzgx/ban_head_01.jpg" width="1260" height="233" border="0"></td></tr>
			<tr><td><img src="$_G['config'][static]/topic/2015tlzgx/ban_head_02.jpg" width="1260" height="218" border="0"></td></tr>
			<tr><td><img src="$_G['config'][static]/topic/2015tlzgx/ban_head_03.jpg" width="1260" height="249" border="0"></td></tr>
	 </table>
	 </div>
</div>
<div class="ad" id="ad_banner1">
<!-- 107255：通栏一 类型：固定广告位 尺寸：1260x0-->
</div>
<div class="box">
	<div class="news">
    	<div class="title">
        	<span class="fl"><img src="$_G['config'][static]/topic/2015tlzgx/ico.jpg" align="absmiddle" />&nbsp;News 新闻</span>
            <a href="forum.php?mod=forumdisplay&fid=234&tpl=channel_news&typeid=82&filter=typeid" target="_blank" title="" class="fr more">更多</a>
        </div>
        <div class="bg">
        	<!--[diy=diyfocus]--><div id="diyfocus" class="area"></div><!--[/diy]-->        	
        	<!--[diy=diynews]--><div id="diynews" class="area"></div><!--[/diy]-->        	
        </div>
    </div>
    <div class="video">
	  <div class="title"><span class="fl"><img src="$_G['config'][static]/topic/2015tlzgx/ico02.jpg" align="absmiddle"/>&nbsp;Video 视频</span><a href="forum.php?mod=forumdisplay&fid=234&tpl=channel_video&typeid=84&filter=typeid" target="_blank" title="" class="fr more">更多</a></div>
	  <div class="videoList">
	    <ul>
    	<!--[diy=diyvideo1]--><div id="diyvideo1" class="area"></div><!--[/diy]-->
    	<!--[diy=diyvideo2]--><div id="diyvideo2" class="area"></div><!--[/diy]-->
     	</ul>
  	  </div>
	</div>
</div>
<div class="xian"></div>
 <div class="ad" id="ad_banner2">
<!-- 107257：通栏二 类型：固定广告位 尺寸：1260x0-->
</div>
<div class="stroke">
     <div class="stroke_content">
	      <div class="timeTitle"><img src="$_G['config'][static]/topic/2015tlzgx/ico03.jpg" align="absmiddle"/>&nbsp;6月22日 行程内容</div>
		  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="strokeTitle">
		         <tr>
				     <td>08:30-10:00</td>
					 <td>11:00-12:00</td>
					 <td>15:00-17:30</td>
					 <td>19:00-21:00</td>
				 <tr>
		  </table>
    <div class="strokeMain">
    	<ul class="cl">
        	<li><img src="$_G['config'][static]/topic/2015tlzgx/timea.jpg" width="100%" /></li>
            <li><img src="$_G['config'][static]/topic/2015tlzgx/timeb.jpg" width="100%"  /></li>
            <li><img src="$_G['config'][static]/topic/2015tlzgx/timec.jpg" width="100%"  /></li>
            <li><img src="$_G['config'][static]/topic/2015tlzgx/timed.jpg" width="100%"  /></li>
        </ul>
    </div>
	</div>
</div>
<div class="columnB">
<!--[diy=diyactive]--><div id="diyactive" class="area"></div><!--[/diy]-->
</div>
<div class="xian"></div>
<div class="blank"></div>
<div class="columnB">
	<div class="columnLeft"><img src="$_G['config'][static]/topic/2015tlzgx/side02.jpg" width="380" height="417" /></div>
    <div class="columnRight columnRightB">
    	<img src="$_G['config'][static]/topic/2015tlzgx/hua.jpg" />
    </div>
    <div class="clear"></div>
</div>
<div class="xian"></div>
<div class="ad" id="ad_banner3">
<!-- 107259：通栏三 类型：固定广告位 尺寸：1260x0-->
</div>
<div class="columnB">
    <div class="title titleW">
        <span class="fl"><img src="$_G['config'][static]/topic/2015tlzgx/ico5.jpg" align="absmiddle" />&nbsp;Picture 图片精选</span>
        <a href="forum.php?mod=forumdisplay&fid=234&tpl=channel_picture&typeid=83&filter=typeid" target="_blank" title="" class="fr more">更多</a>
    </div>
    <!--[diy=diypic]--><div id="diypic" class="area"></div><!--[/diy]-->
</div>
<div class="xian"></div>
<div class="columnB">
	<div class="title titleW">
		<span class="fl"><img src="$_G['config'][static]/topic/2015tlzgx/ico6.jpg" align="absmiddle" />&nbsp;特里中国行系列商品</span>
		<a href="http://5usport.tmall.com/?spm=a220o.1000855.w5001-10584153313.10.X1S4xv&scene=taobao_shop" target="_blank" title="5u天猫店" class="fr more">更多</a>
	</div>
	<div class="pictureList">
		<ul class="cl">
			<li><!--[diy=diygoods1]--><div id="diygoods1" class="area"></div><!--[/diy]--></li>
			<li><!--[diy=diygoods2]--><div id="diygoods2" class="area"></div><!--[/diy]--></li>
			<li><!--[diy=diygoods3]--><div id="diygoods3" class="area"></div><!--[/diy]--></li>
			<li><!--[diy=diygoods4]--><div id="diygoods4" class="area"></div><!--[/diy]--></li>					
		</ul>
	</div>
</div>
<script src="misc.php?mod=diyhelp&action=get&type=topic&diy=yes&topicid=$topicid&r={echo random(4)}" type="text/javascript"></script>
<!--右边栏横幅 start-->
<div class="code">
        <span class="code_colse"></span>
    	<a href="download/app/liaoqiu/" target="_blank"><img src="$_G['config'][static]/topic/2015tlzgx/codelogo.jpg" /></a>
</div>
<!--右边栏横幅 end-->

<script type="text/javascript">
jQuery(document).ready(function($) {
   $(".code_colse").click(function(){
      $(".code").remove();
   })
});
</script>
<script type="text/javascript">
_acK({aid:107255,format:0,mode:1,gid:1,destid:"ad_banner1",serverbaseurl:"afp.csbew.com/"});
</script>
<script type="text/javascript">
_acK({aid:107257,format:0,mode:1,gid:1,destid:"ad_banner2",serverbaseurl:"afp.csbew.com/"});
</script>
<script type="text/javascript">
_acK({aid:107259,format:0,mode:1,gid:1,destid:"ad_banner3",serverbaseurl:"afp.csbew.com/"});
</script>
<!--{template common/footer}-->
